* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #388E3C;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}

.accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 60px auto 20px;
  background: #fff;
  border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {
  color: #CDDC39;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: none;
  background: #C8E6C9;
}
.submenuItems li {
  border-bottom: 1px solid #B6B6B6;
}

.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #CDDC39;
  color: #fff;
}

@media (min-width: 375px){
  input[type="text"], #btn1, #btn2 {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.4em;
    height: 2.1em;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    -web-kit-appearance: none;
    -moz-appearance: none;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
}
}

.transit{transition:all 0.4s linear 0s; -moz-transition:all 0.4s linear 0s;-webkit-transition:all 0.4s linear 0s;-o-transition:all 0.4s linear 0s;-ms-transition:all 0.4s linear 0s;}
.cityChoice{text-align:center; margin-top:100px;}
.cityInput{width:60%; height:36px; padding:0 10px; border:1px solid #e1e1e1; border-radius:4px;}
/**头部**/
.cityChoiceBox{width:100%; min-height:1000px; position:absolute; top:0; display:none; background-color:#fff;z-index:999999}
.cityChoiceBox .cityChoice-top{position:fixed; width:100%; height:56px; line-height:56px; padding:0 15px 0 36px; background-color:#0d9deb; color:#fff;z-index:9999999;}
.cityChoiceBox .cityChoice-top span{position:absolute; display:inline-block; left:15px; top:18px; font-size:20px;}
.cityChoiceBox .cityChoice-top .search-input{width:100%; height:36px; border-radius:20px 20px 20px 20px; line-height:36px; padding:0 6px 0 20px; border:none; background-color:rgba(255,255,255,0.7);margin-top: 10px;}
.cityChoiceBox .focus{padding:0 50px 0 15px;}
.cityChoiceBox .cityChoice-top .cancel{position:absolute; display:inline-block; right:15px; top:0;}
.cityChoiceBox .search-box{position:absolute; left:0; top:56px; background-color:#fff; width:100%;}
/**城市**/
.cityChoiceBox .city-Box{position:relative; width:100%; padding-top:56px;}
.cityChoiceBox .city-Box h3{font-weight:400; color:#999;}
.cityChoiceBox .city-Box span{display:inline-block;width:27%; height:32px; margin:6px 12px 6px 0; line-height:32px; background-color:#fff; text-align: center; border:1px solid #ccc; }
.cityChoiceBox .city-Box .city-sidaber{position:fixed; right:10px; top:65px; width:30px; line-height:26px; text-align:center; font-size:14px; color:#999;}
.cityChoiceBox .host-city{padding:12px; background-color:#f7f7f7;}
.cityChoiceBox .city-content h3{padding:6px 15px; background-color:#f1f3f7; font-weight:400; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.cityChoiceBox .city-content p{padding:10px 15px; border-bottom:1px solid #e1e1e1; margin-bottom:0;}
.cityChoiceBox .zimShow{position:fixed; left:50%; top:300px; margin-left:-20px; width:60px; height:60px; line-height:60px; text-align: center; background-color:rgba(0,0,0,0.5); border-radius:50%; font-size:20px; color:#fff;}
.cityChoiceBox .sousuo{padding:10px 15px; border-bottom:1px solid #e1e1e1; margin-bottom:0;}


